@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@100&display=swap');

:root {
    --wrapper-bg: #181818;
    --text: #fff;
    --text-secondary: #a9a9a9;
    --bg-second: #212121;
    --hover_dark_gray: #434343;
    --green: #00e472;
    --animation_green: #6BFF4C;

    --normal_letter_spacing: 1px;
    --normal_line_height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

span {
    font-size: 1em;
}
