@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@100&display=swap');

:root {
    --wrapper-bg: #181818;
    --text: #fff;
    --text-secondary: #a9a9a9;
    --bg-second: #212121;
    --hover_dark_gray: #434343;
    --green: #00e472;
    --animation_green: #6BFF4C;

    --normal_letter_spacing: 1px;
    --normal_line_height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

span {
    font-size: 1em;
}

/* mobile view */

.all_projects {
    letter-spacing: var(--normal_letter_spacing);
    line-height: var(--normal_line_height);
}


.ai_projects {
}

.a_project {
    padding: 1em;
    background: var(--bg-second);
    color: var(--text-secondary);
    margin: 2em 0;
}

.projects_category {
    font-size: 1.6em;
    position: relative;
}

.projects_category::after {
    position: absolute;
    content: '';
    width: 40%;
    bottom: 0;
    left: 2em;
    height: .5px;
    background: var(--green);
}

.project_title {
    color: var(--text);
    font-size: 1.25em;
    margin-bottom: 1.5em;
}

.a_project video {
    display: block;
    width: 100%;
    max-width: 300px;
}

.a_project p {

}

.right a {
    display: block;
    width: fit-content;
    margin: 1.5em 0;
    padding: 1em 2em;
    color: var(--text);
    background: var(--wrapper-bg);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms;
    -webkit-box-shadow: 0px 0px 10px -2px var(--green);
    -moz-box-shadow: 0px 0px 10px -2px var(--green);
    box-shadow: 0px 0px 10px -2px var(--green) ;

}

.right a:hover {
    color: var(--green);
    background: var(--bg-second);
}

/* all_projects
ai_projects
a_project
project_title
video
p
project_inside_container
left
ul
li
right
a */

@media (min-width: 650px) {
    * {
        font-size: 1.025rem;
    }
    .wrapper {
        padding: .5em 1em;
    }
    .projects_category,
    .project_title {
        text-align: center;
    }
    .projects_category {
        margin: 1.5em 0;
    }
    .a_project video {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
    .project_inside_container {
        display: flex;
        gap: .5em;
        justify-content: space-between;
    }
    .left {
        width: 60%;
    }
    .right {
        width: 40%;
    }
    .projects_category::after {
        width: 60%;
    }
}

@media (min-width: 920px) {
    * {
        font-size: 1.05rem;
    }
    .wrapper {
        padding: .5em 2em;
    }
    .a_project {
        margin: unset;
    }
    .a_project video {
        max-width: 350px;
        max-height: 175px;
    }
    .ai_project_wrapper,
    .react_project_wrapper,
    .normal_projects_wrapper {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    * {
        font-size: 1.1rem;
    }
    .wrapper {
        padding: .5em 10em;
    }
}

