@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@100&display=swap');

:root {
    --wrapper-bg: #181818;
    --text: #fff;
    --text-secondary: #a9a9a9;
    --bg-second: #212121;
    --hover_dark_gray: #434343;
    --green: #00e472;
    --animation_green: #6BFF4C;

    --normal_letter_spacing: 1px;
    --normal_line_height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    padding: .5em 1.5em;
    background: var(--wrapper-bg);
}

/* mobile view */

.container {
    display: flex;
}


/* header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .menu-btn {
    width: 1.5em;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: var(--text);
}

header .logo {
    font-size: 1.5em;
}

header .logo span {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: var(--green);
}

/* hero */

.hero {

}

.hero--heading {
    font-size: 2.5em;
    letter-spacing: var(--normal_letter_spacing);
    margin-bottom: 1em;
}

.hero--heading span {
    color: var(--green);
}

.hero--profile_img {
    display: block;
    width: 100%;
    max-width: 250px;
}

.hero--text {
    margin-top: 1em 0;
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: var(--normal_letter_spacing);
    text-align: justify;
}

.hero--text strong {
    color: var(--green);
}

.animation {
    width: 40px;
    margin: 1.5em auto;
    position: relative;
}

.animation::before {
    content: '';
    display: inline-block;
    width: 35vw;
    height: 1px;
    background-color: var(--animation_green);
    position: absolute;
    top: 19px;
    right: 50px;
}

.animation::after {
    content: '';
    display: inline-block;
    width: 35vw;
    height: 1px;
    background-color: var(--animation_green);
    position: absolute;
    bottom: 28px;
    left: 50px;
}

.rotate_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 2s linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}

/* my skills */

.flex_box {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.skill {
    padding: .25em .75em;
    width: fit-content;
    border-radius: 20px;
    border: 1px solid var(--green);
    background: var(--bg-second);
    color: var(--text-secondary);
    text-transform: uppercase;
    transition: all 300ms;
    margin-bottom: 1em;
}

.skill:hover {
    background: var(--wrapper-bg);
    color: var(--text);
    border: 1px solid var(--animation_green);
}

/* my services */

.service {
    padding: .75em;
    background: var(--bg-second);
    color:var(--text-secondary);
    margin-bottom: 2em;
}

.service h3 {
    color:var(--text);
    font-size: 1.25em;
}

.service p {
    letter-spacing: var(--normal_letter_spacing);
    line-height: var(--normal_line_height);
}

/* projects */

.project {
    margin: 1.25em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--animation_green); 
    margin-bottom: 4.5em;  
}

.project:nth-child(6) {
    border-bottom: none;
    margin-bottom: 2em; 
}

.project h3 {
    margin: 1em;
    letter-spacing: var(--normal_letter_spacing);
}

.project_img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.project p {
    line-height: 1.8;
    letter-spacing: var(--normal_letter_spacing);
    line-height: var(--normal_line_height);
}

/* footer */

footer {
    padding-top: 1em;
    /* border-top: .5px solid var(--green); */
    text-align: center;
}

.footer--links {
    width: 50%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

.footer--links a {
    cursor: pointer;
    color: var(--text);
}

.footer--links a:visited {
    cursor: pointer;
    color: var(--text);
}

.footer_logo {
    width: 4vw;
}

footer small {
    display: block;
    text-align: center;
    margin-top: .1em;
    font-size: .6rem;
}

footer small:last-of-type {
    margin-bottom: 1em;
}

                        /* left col  */

.left_col {
    transform: translateX(-100%);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 45vw;
    max-width: 350px;
    background: var(--bg-second);
    color:var(--text-secondary);
    transition: transform .5s;
    z-index: 1;
}

.back_btn {
    margin-top: 47px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    transform: scaleX(-1);
    transition: transform .5s;
    cursor: pointer;
}

.back_btn:hover {
    transform: scaleX(-1) translateX(5px);
}

.left_col ul {
    list-style: none;
    margin-top: 1.5em;
    padding: 0;
}
.left_col ul li a {
    display: block;
    width: 100%;
    color: var(--text-secondary);
    padding: .4em .8em;
    margin-bottom: 1.5em;
    text-decoration: none;
    transition: .5s;
}

.left_col ul li a:hover {
    background: var(--hover_dark_gray);
    color: var(--text);
}


/*
ul
li
a */


/* media queries */

@media (min-width: 650px) {
    * {
        font-size: 1.05rem;
    }
    .wrapper {
        padding: .5em 3.5em;
    }
    h1 {
        font-size: 1.65em;
    }
    .animation {
        display: none;
    }
    .logo span {
        font-size: 1em;
    }
    .hero span {
        font-size: 1em;
    }
    .hero--profile_img {
        max-width: 350px;
    }
    .hero--heading {
        text-align: center;
    }
    .hero_flex_box {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    .hero_flex_box_left {
        width: 45%;  
    }
    .hero_flex_box_right {
        width: 55%;
        align-self: flex-end;
        margin-top: -1.5em;
    }
    .skills_title, .my_services_title, .projects_title {
        letter-spacing: var(--normal_letter_spacing);
        text-align: center;
        margin: 1.5em;
    }
    .services_container {
        display: flex;
        gap: 1.5em;
    }
    .service {
        -webkit-box-shadow: 0px 0px 10px -2px var(--green);
        -moz-box-shadow: 0px 0px 10px -2px var(--green);
        box-shadow: 0px 0px 10px -2px var(--green) ;
    }
    .projects_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3;
        padding-bottom: 1.5em;
    }
    .project {
        padding: 1em;
        border-bottom: unset;
        margin-bottom:.5em;
        -webkit-box-shadow: 0px 0px 10px -2px var(--green);
        -moz-box-shadow: 0px 0px 10px -2px var(--green);
        box-shadow: 0px 0px 10px -2px var(--green) ;
    }
    .project:nth-child(6) {
        margin-bottom: 0; 
        padding-bottom: 0;
    }
    footer {
        margin-top: 2em;
    }
}

@media (min-width: 920px) {
    * {
        font-size: 1.075rem;
    }
    .wrapper {
        padding: .5em 5em;
    }
    .service {
        gap: 2em;
    }
    .service h3 {
        text-align: center;
    }
    .projects_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2;
    }
}

@media (min-width: 1200px) {
    * {
        font-size: 1.1rem;
    }
    .wrapper {
        padding: .5em 10em;
    }
    
}

/* css to do

---letter spacing title      - done
---animation like GS proj
---skill width - eliet panel     - done
---footer logo swap to svg      - done
*/




























































