@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@100&display=swap');

:root {
    --wrapper-bg: #181818;
    --text: #fff;
    --text-secondary: #a9a9a9;
    --bg-second: #212121;
    --hover_dark_gray: #434343;
    --green: #00e472;
    --animation_green: #6BFF4C;

    --normal_letter_spacing: 1px;
    --normal_line_height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    padding: 1em;
    background: var(--wrapper-bg);
}

/* mobile view */

.container {
    display: flex;
}

.left_col {
    display: none;
}

/* header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .menu-btn {
    width: 1.5em;
}

header .logo {
    font-size: 1.5em;
}

header .logo span {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: var(--green);
}

/* hero */

.hero {

}

.hero--heading {
    font-size: 2.5em;
    letter-spacing: var(--normal_letter_spacing);
    margin-bottom: 1.5em;
}

.hero--heading span {
    color: var(--green);
}

.hero--profile_img {
    display: block;
    width: 80%;
    max-width: 350px;
    margin-bottom: 1.5em;
}

.hero--text {
    margin-top: 1em 0;
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: var(--normal_letter_spacing);
}

.hero--text strong {
    color: var(--green);
}

.animation {
    width: 40px;
    margin: 1.5em auto;
    position: relative;
}

.animation::before {
    content: '';
    display: inline-block;
    width: 35vw;
    height: 1px;
    background-color: var(--animation_green);
    position: absolute;
    top: 19px;
    right: 50px;
}

.animation::after {
    content: '';
    display: inline-block;
    width: 35vw;
    height: 1px;
    background-color: var(--animation_green);
    position: absolute;
    bottom: 28px;
    left: 50px;
}

.rotate_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 2s linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}

/* my skills */

.flex_box {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.skill {
    padding: .25em .75em;
    border-radius: 20px;
    border: 1px solid var(--green);
    background: var(--bg-second);
    color: var(--text-secondary);
    text-transform: uppercase;
    transition: all 300ms;
    margin-bottom: .2em;
}

.skill:hover {
    background: var(--wrapper-bg);
    color: var(--text);
    border: 1px solid var(--animation_green);
}

/* my services */

.service {
    padding: .75em;
    background: var(--bg-second);
    color:var(--text-secondary);
    margin-bottom: 1em;
}

.service h3 {
    color:var(--text);
    font-size: 1.25em;
}

.service p {
    letter-spacing: var(--normal_letter_spacing);
    line-height: var(--normal_line_height);
}

/* 
my_services_title
service
 */

 /* my projects */

 /* .projects_container {
    width: 100%;
    padding: 0;
 } */

.project {
    margin: 1.25em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--animation_green);   
}

.project:nth-child(6) {
    border-bottom: none;
}

.project h3 {
    margin: 1em;
    letter-spacing: var(--normal_letter_spacing);
}

.project_img {
    width: 100%;
    max-width: 550px;
}

.project p {
    line-height: 1.8;
    letter-spacing: var(--normal_letter_spacing);
    line-height: var(--normal_line_height);
}

/* footer */

.footer--links {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer--links a {
    font-size: 2rem;
    cursor: pointer;
}

footer small {
    display: block;
    text-align: center;
    margin-top: 1em;
}

/* footer
footer--links
a
small */
